.App {
  text-align: center;
}

.btn {
  background-color: blue;
  color: white;
  font-family: Palatino;
  padding: 10px 15px;
  margin: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
